//  --------------
//  main : generic
//  --------------

//  box sizing
//  ----------
    * {
      @each $prefix in -webkit-, -moz-, null {
        #{$prefix}box-sizing: border-box;
      }
    }
    

//  html
//  ----
    html {
      width:  100%;
      height: 100%;
      
      font-size: $base-font-size;
      line-height: $base-line-height;
    }


//  body
//  ----
    body {
      width:  100%;
      height: 100%;

      background-color: $body-bg;

      overflow-y: scroll;
      overflow-x: hidden;
    }